<div data-animation="default" class="nav_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="9132635a-7891-b0d1-9b20-ecb0d5a86df9" role="banner" data-duration="400" x-data="">
          <div class="nav_container">
            <nav role="navigation" id="w-node-_9132635a-7891-b0d1-9b20-ecb0d5a86dfd-d5a86df8" class="nav_menu is-page-height-tablet w-nav-menu">
              {% for link in linklists[section.settings.menu].links %}    <div data-hover="true" data-delay="200" li-for="link in linklists[section.settings.menu].links" class="nav_menu-dropdown w-dropdown">
                                    
                
                            <div class="nav_dropdown-toggle w-dropdown-toggle">
                  {% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="dropdown-icon w-embed">
    <svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                    </svg>    </div>
{% endif %}
                  <a li-object:href="link.url" href="{{ link.url }}" class="w-inline-block">
                    <div>
                      <div li-object="link.title" class="nav-link">{{ link.title }}</div>
                    </div>
                  </a>
                </div>
                            
                
                            {% if link.links.size > 0  %}    <nav li-if="link.links.size > 0 " class="nav_dropdown-list no-scrollbar w-dropdown-list">
    
                  <div class="padding-global max-width-full">
                    <div class="container-large">
                      <div class="nav_dropdown-grid">
                        {% for child_link in link.links %}    <div li-for="child_link in link.links" id="w-node-_9132635a-7891-b0d1-9b20-ecb0d5a86e09-d5a86df8">
                                    
                          
                            <a href="{{ child_link.url }}" li-object="child_link.title" li-object:href="child_link.url" class="nav_dropdown-link w-dropdown-link">{{ child_link.title }}</a>
                            
                          
                            {% if child_link.links.size > 0 %}    <div li-if="child_link.links.size > 0">
    
                            {% for grandchild_link in child_link.links %}    <div li-for="grandchild_link in child_link.links">
                                    
                              
                            <a href="{{ grandchild_link.url }}" li-object="grandchild_link.title" li-object:href="grandchild_link.url" class="nav_dropdown-link_child w-dropdown-link">{{ grandchild_link.title }}</a>
                            
                            
                        </div>
{% endfor %}
                              </div>
{% endif %}
                            
                        
                        </div>
{% endfor %}
                      </div>
                    </div>
                  </div>
                    </nav>
{% endif %}
                            
              
                        </div>
{% endfor %}
            </nav>
            <div class="nav_menu-button w-nav-button">
              <div class="menu-icon">
                <div class="menu-icon_line-top"></div>
                <div class="menu-icon_line-middle">
                  <div class="menu-icon_line-middle-inner"></div>
                </div>
                <div class="menu-icon_line-bottom"></div>
              </div>
            </div>
            <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="nav_logo-link w-nav-brand">
              <div class="organic-nav-form w-embed"><svg id="Group_2" data-name="Group 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewbox="0 0 183.683 150.956">
                  <defs>
                    <clippath id="clip-path">
                      <rect id="Rectangle_1" data-name="Rectangle 1" width="183.683" height="150.956" fill="#15763d"></rect>
                    </clippath>
                  </defs>
                  <g id="Group_1" data-name="Group 1" clip-path="url(#clip-path)">
                    <path id="Path_1" data-name="Path 1" d="M182.4,48.192c-2.209-8.609-8.626-19.219-14.513-25.657-.921-1.007-4.847-4.957-5.581-5.578-26.093-22.08-73.5-19.185-104.5-10.439C26.776,15.273,11.944,29.782,3.385,60.9-7.892,101.9,9.433,131.883,49,145.243c1.753.592,5.648,1.819,7.256,2.232,11.693,3,25.907,3.848,37.955,3.346,33.834-1.408,57.768-17.373,73.774-46.477,9.072-16.493,19.358-36.894,14.417-56.151" transform="translate(0 0)" fill="#15763d"></path>
                  </g>
                </svg></div>{% if section.settings.image_logo %}
{{ section.settings.image_logo | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'nav_logo' }}
{% else %}
<img src="{{ 'Logo-Little-Maryam-Wit.png' | asset_url }}" loading="lazy" alt="" class="nav_logo">
{% endif %}
            </a>
            <div class="nav_shop-icons small">
              <a href="{{ section.settings.url_link }}" class="icon-button secondary w-inline-block"> <div class="button-background w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 160.917 54.977" width="100%" height="100%" preserveaspectratio="none"> <path d="M.176,10.8,6.938,47.713s64.278,3.9,89.154,0S148.044,43.3,148.044,43.3,163.629,9.658,158.1,2.609,68.452,4.885,61.637,6.158.57,4.779.176,7.234A7.969,7.969,0,0,0,.176,10.8Z" transform="translate(1.726) rotate(2)" fill="currentColor"></path> </svg></div> <div class="button-text white">{{ section.settings.text_button_tekst }}</div><img loading="lazy" src="{{ 'Hartje-Little-Maryam-Wit.png' | asset_url }}" alt="" class="hartje_maryam"> </a>
              {% if localization.available_languages.size > 1 %}    <div li-if="localization.available_languages.size > 1" class="language_component">
    
                {% form 'localization' %}
<div data-hover="true" data-delay="0" class="w-dropdown">
                    <div class="language_dropdown w-dropdown-toggle"><img src="https://cdn.shopify.com/s/files/1/1039/1653/6133/files/{{ localization.language.iso_code | downcase }}.png" loading="lazy" alt="" class="flag"></div>
                    <nav li-for:inside="language in localization.available_languages" class="language_list w-dropdown-list">
        {% for language in localization.available_languages %}                            
                      
                            {% unless localization.language.iso_code == language.iso_code %}    <div li-unless="localization.language.iso_code == language.iso_code" class="divflag">
    
                        <a hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}" href="#" class="lang-link-block w-inline-block"><img src="https://cdn.shopify.com/s/files/1/1039/1653/6133/files/{{ language.iso_code | downcase }}.png" loading="lazy" alt="" class="flag"></a>
                          </div>
{% endunless %}
                            
                    
                    {% endfor %}    </nav>
                  </div><input type="hidden" name="language_code" value="{{ localization.language.iso_code }}" class="input">
                {% endform %}
                <div class="hide-2 w-embed w-script">
                  <script>
  document.querySelectorAll(".language_component").forEach((wrapper) => {
  const form = wrapper.querySelector("form");
  const input = wrapper.querySelector("input[name='language_code']");
  if (form && input) {
    form.querySelectorAll("a").forEach((link) => {
      link.addEventListener("click", (event) => {
        input.value = event.currentTarget.dataset.value;
        form.submit();
      });
    });
  }
});
</script>
                </div>
                  </div>
{% endif %}
              <div class="nav_mini-cart">
                <script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        cart: {
            note: null,
            attributes: {},
            items: [],
            currency: window.Shopify.currency.active,
            cart_level_discount_applications: [],
            response: {
                result : {},
                show : false,
                timeout : 5000,
            },
            item_count: 0,
            total_price:0,
            total_weight: 0,
            total_discount: 0,
            original_total_price: 0,
            items_subtotal_price: 0
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        async getCart() {
            this.initAbortController()
            await fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();

                    this.cart.item_count = data.item_count;

                    this.cart.items = data.items.map((item) => {
                        item.title = this.htmlspecialchars_decode(item.title)
                        return item
                    })


                    this.cart.total_price = data.total_price;
                    this.cart.total_weight = data.total_weight;
                    this.cart.total_discount = data.total_discount;
                    this.cart.original_total_price = data.original_total_price;

                    this.$dispatch('carttotalitems', data.item_count);
                    this.$dispatch('currentcartitems', this.cart.items);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        },

        /**
         * @param key
         * @param quantity
         */
        increaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) + 1);
        },

        /**
         * @param key
         * @param quantity
         */
        decreaseCartItemQuantity(key, quantity) {
            this.updateCartItemQuantity(key, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param key
         * @param quantity
         */
        updateCartItemQuantity(key, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): key, quantity: ', key, quantity);
            this.cart.items.filter((product)  => {
                if(product.key === key) {
                    product.quantity = quantity
                }
            })
            let updates = {};
            updates[key] = quantity;
            fetch(window.Shopify.routes.root + 'cart/update.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ updates }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated', this.cart.items);
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            if(event?.detail?.status) {
                this.cart.response.result = event.detail ?? {}
                this.cart.response.show = true
                setTimeout(() => {
                    this.cart.response.result = {};
                    this.cart.response.show = false
                }, this.cart.response.timeout ?? 5000)
            }
        },

        async returnCartItems() {
            await this.getCart();

            this.$dispatch('currentcartitems', this.cart.items);
        },

        /**
         * @deprecated
         */
        set open(open) { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "set open" in mini_cart')
        },
        /**
         * @deprecated
         */
        get open() { // deprecated use  LiquifyHelper instead
            //console.warn('Deprecated "get open" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set note(note) { // deprecated
            //console.warn('Deprecated "set note" in mini_cart')
            this.cart.note = note;
        },
        /**
         * @deprecated
         */
        get note() { // deprecated
            //console.warn('Deprecated "get note" in mini_cart')
            return this.cart.note;
        },
        /**
         * @deprecated
         */
        set attributes(attributes) { // deprecated
            //console.warn('Deprecated "set attributes" in mini_cart')
            this.cart.attributes = attributes;
        },
        /**
         * @deprecated
         */
        get attributes() { // deprecated
            //console.warn('Deprecated "get attributes" in mini_cart')
            return this.cart.attributes;
        },
        /**
         * @deprecated
         */
        set original_total_price(original_total_price) { //deprecated
            //console.warn('Deprecated "set original_total_price" in mini_cart')
            this.cart.original_total_price = original_total_price;
        },
        /**
         * @deprecated
         */
        get original_total_price() { //deprecated
            //console.warn('Deprecated "get original_total_price" in mini_cart')
            return this.cart.original_total_price;
        },
        /**
         * @deprecated
         */
        set total_price(total_price) { //deprecated
            //console.warn('Deprecated "set total_price" in mini_cart')
            this.cart.total_price = total_price;
        },
        /**
         * @deprecated
         */
        get total_price() { //deprecated
            //console.warn('Deprecated "get total_price" in mini_cart')
            return this.cart.total_price;
        },
        /**
         * @deprecated
         */
        set total_discount(total_discount) { //deprecated
            //console.warn('Deprecated "set total_discount" in mini_cart')
            this.cart.total_discount = total_discount;
        },
        /**
         * @deprecated
         */
        get total_discount() { //deprecated
            //console.warn('Deprecated "get total_discount" in mini_cart')
            return this.cart.total_discount;
        },
        /**
         * @deprecated
         */
        set total_weight(total_weight) { //deprecated
            //console.warn('Deprecated "set total_weight" in mini_cart')
            this.cart.total_discount = total_weight;
        },
        /**
         * @deprecated
         */
        get total_weight() { //deprecated
            //console.warn('Deprecated "get total_weight" in mini_cart')
            return this.cart.total_weight;
        },
        /**
         * @deprecated
         */
        set item_count(item_count) { //deprecated
            //console.warn('Deprecated "set item_count" in mini_cart')
            this.cart.total_discount = item_count;
        },
        /**
         * @deprecated
         */
        get item_count() { //deprecated
            //console.warn('Deprecated "get item_count" in mini_cart')
            return this.cart.item_count;
        },
        /**
         * @deprecated
         */
        set items_subtotal_price(items_subtotal_price) { //deprecated
            //console.warn('Deprecated "set items_subtotal_price" in mini_cart')
            this.cart.items_subtotal_price = items_subtotal_price;
        },
        /**
         * @deprecated
         */
        get items_subtotal_price() { //deprecated
            //console.warn('Deprecated "get items_subtotal_price" in mini_cart')
            return this.cart.items_subtotal_price;
        },
        /**
         * @deprecated
         */
        set products(products) {
            //console.warn('Deprecated "set products" in mini_cart')
            this.cart.items = products;
        },
        /**
         * @deprecated
         */
        get products() {
            //console.warn('Deprecated "get products" in mini_cart')
            return this.cart.items;
        },
        /**
         * @deprecated
         */
        set requires_shipping(requires_shipping) {
            //console.warn('Deprecated "set requires_shipping" in mini_cart')
        },
        /**
         * @deprecated
         */
        get requires_shipping() {
            //console.warn('Deprecated "get requires_shipping" in mini_cart')
            return false;
        },
        /**
         * @deprecated
         */
        set currency(currency) { //deprecated
            //console.warn('Deprecated "set currency" in mini_cart')
            this.cart.currency = currency;
        },
        /**
         * @deprecated
         */
        get currency() { //deprecated
            //console.warn('Deprecated "get currency" in mini_cart')
            return this.cart.currency;
        },
        /**
         * @deprecated
         */
        set cart_level_discount_applications(cart_level_discount_applications) { //deprecated
            //console.warn('Deprecated "set cart_level_discount_applications" in mini_cart')
            this.cart.cart_level_discount_applications = cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        get cart_level_discount_applications() { //deprecated
            //console.warn('Deprecated "get cart_level_discount_applications" in mini_cart')
            return this.cart.cart_level_discount_applications;
        },
        /**
         * @deprecated
         */
        set cartApiResponse(cartApiResponse) { //deprecated
            //console.warn('Deprecated "set cartApiResponse" in mini_cart')
            this.cart.cartApiResponse = cartApiResponse;
        },
        /**
         * @deprecated
         */
        get cartApiResponse() { //deprecated
            //console.warn('Deprecated "get cartApiResponse" in mini_cart')
            return this.cart.response;
        },
        /**
         * @deprecated
         */
        set total(total) { //deprecated
            //console.warn('Deprecated "set total" in mini_cart')
            this.cart.item_count = total.items;
            this.cart.total_price = total.price;
            this.cart.total_weight = total.weight;
            this.cart.total_discount = total.discount;
        },
        /**
         * @deprecated
         */
        get total() { //deprecated
            //console.warn('Deprecated "get total" in mini_cart')
            return {
                items: this.cart.item_count,
                price: this.cart.total_price,
                weight: this.cart.total_weight,
                discount: this.cart.total_discount,
            };
        }
    }))


});

</script>
<div data-hover="false" data-delay="0" li-element="mini-cart" class="nav_dropdown w-dropdown" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage" @getcartitems.window="returnCartItems">
                  <div li-element="mini-cart-toggle" class="nav_shop-icon w-dropdown-toggle" @click="$dispatch('cartupdated.window')">
                    <div class="icon-embed-xsmall w-embed"><svg id="cart" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 19.467 16.872">
                        <path id="Path_6" data-name="Path 6" d="M2855.233,338.218h-4.584a.648.648,0,0,0-.649.649v2.6a.648.648,0,0,0,.649.649h.068l.908,8.183a.648.648,0,0,0,.646.577H2867.2a.648.648,0,0,0,.646-.577l.908-8.183h.069a.647.647,0,0,0,.648-.649v-2.6a.647.647,0,0,0-.648-.649h-4.584l-1.46-3.8a.65.65,0,0,0-1.213.466l1.285,3.336h-6.223l1.285-3.336a.65.65,0,0,0-1.213-.466Zm-3.208,3.893h15.418l-.828,7.462h-13.763Zm5.762,1.947v3.569a.649.649,0,0,0,1.3,0v-3.569a.649.649,0,0,0-1.3,0Zm2.6,0v3.569a.649.649,0,0,0,1.3,0v-3.569a.649.649,0,0,0-1.3,0Zm-5.191,0v3.569a.649.649,0,0,0,1.3,0v-3.569a.649.649,0,0,0-1.3,0Zm7.787,0v3.569a.649.649,0,1,0,1.3,0v-3.569a.649.649,0,1,0-1.3,0Zm5.191-4.542H2851.3v1.3h16.872Z" transform="translate(-2850 -334)" fill="CurrentColor" fill-rule="evenodd"></path>
                      </svg></div>
                    <div li-element="mini-cart-item-count" class="nav_shop-quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">0</div>
                    <div class="cart-background w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewbox="0 0 55.579 45.677">
                        <defs>
                          <clippath id="clip-path">
                            <rect id="Rectangle_1" data-name="Rectangle 1" width="55.579" height="45.677" fill="CurrentColor"></rect>
                          </clippath>
                        </defs>
                        <g id="Group_1" data-name="Group 1" clip-path="url(#clip-path)">
                          <path id="Path_1" data-name="Path 1" d="M55.191,14.582A20.768,20.768,0,0,0,50.8,6.819c-.279-.3-1.467-1.5-1.689-1.688C41.216-1.55,26.872-.674,17.492,1.972S3.614,9.012,1.024,18.427c-3.412,12.405,1.83,21.478,13.8,25.521.53.179,1.709.55,2.2.675a41.819,41.819,0,0,0,11.485,1.013c10.237-.426,17.48-5.257,22.323-14.063,2.745-4.99,5.857-11.164,4.362-16.99" transform="translate(0 0)" fill="CurrentColor"></path>
                        </g>
                      </svg></div>
                  </div>
                  <nav li-element="mini-cart-container" class="nav_mini-cart-holder w-dropdown-list" :class="open || 'mini-cart-closed'">
                    <div li-element="dropdown-toggle" class="nav_mini-cart-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div>
                    <div class="mini-cart_component">
                      <div li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }">
                        <div class="mini-cart_header">
                          <div class="winkelwagen">
{{ section.settings.text_cart }}
</div><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))">
                            <div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path>
                              </svg></div>
                          </button>
                        </div>
                        <div class="li-component_wrapper">
                          <div x-data="{ freeShipping: {{ section.settings.free_shipping }} }" class="mini-cart_footer-2">
                            <div x-bind:style="'display: ' + (((freeShipping - total.price) / 100) < 0 ? 'none' : 'block')" class="mini-cart_footer_progress-component">
                              <h5 class="heading-style-h5 mid">
{{ section.settings.text_gratis_verzending_titel }}
</h5>
                              <div class="mini-cart_footer_progress-bar">
                                <div x-bind:style="'width: ' + (total.price/freeShipping) *100 + '%'" class="mini-cart_footer_progress-bar-innner"></div>
                              </div>
                              <div class="verzending-icons spaceabove">
                                <div class="send-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewbox="0 0 27 18">
                                    <rect id="Rectangle_22" data-name="Rectangle 22" width="27" height="18" rx="2" fill="#6ab37a"></rect>
                                    <g id="delivery-truck-truck-svgrepo-com" transform="translate(4.111 -128.31)">
                                      <g id="Group_6" data-name="Group 6" transform="translate(1.81 133)">
                                        <g id="Group_5" data-name="Group 5">
                                          <path id="Path_3" data-name="Path 3" d="M69,137.168l-2.006-2.29a.343.343,0,0,0-.26-.118H65.064v-1.415a.346.346,0,0,0-.345-.345H57.6a.346.346,0,0,0-.345.345v.466H53.945a.345.345,0,0,0,0,.689h3.314v4.465H55.265a.345.345,0,0,0,0,.689h1.993v.351a.346.346,0,0,0,.345.345h.719a1.3,1.3,0,0,0,2.513,0h4.6a1.3,1.3,0,0,0,2.513,0h.794a.346.346,0,0,0,.345-.345v-2.611A.348.348,0,0,0,69,137.168Zm-9.42,3.452a.615.615,0,1,1,.615-.615A.617.617,0,0,1,59.579,140.62Zm1.257-.959a1.3,1.3,0,0,0-2.513,0h-.375v-5.972h6.424v5.968H60.835Zm5.854.959a.615.615,0,1,1,.615-.615A.617.617,0,0,1,66.689,140.62Zm1.706-.959h-.449a1.3,1.3,0,0,0-2.513,0h-.368v-4.212h1.513l1.817,2.074v2.138Z" transform="translate(-53.6 -133)" fill="#fff"></path>
                                        </g>
                                      </g>
                                      <g id="Group_8" data-name="Group 8" transform="translate(1.814 138.965)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0 0)">
                                          <path id="Path_4" data-name="Path 4" d="M54.227,309.6h-.182a.345.345,0,0,0,0,.689h.182a.345.345,0,0,0,0-.689Z" transform="translate(-53.7 -309.6)" fill="#fff"></path>
                                        </g>
                                      </g>
                                      <g id="Group_10" data-name="Group 10" transform="translate(0 136.354)">
                                        <g id="Group_9" data-name="Group 9">
                                          <path id="Path_5" data-name="Path 5" d="M4.036,232.3H.345a.345.345,0,1,0,0,.689H4.036a.345.345,0,1,0,0-.689Z" transform="translate(0 -232.3)" fill="#fff"></path>
                                        </g>
                                      </g>
                                    </g>
                                  </svg></div>
                                <div class="shipping-text">
                                  <div class="text-size-small-2">
{{ section.settings.text_nog }}
</div>
                                  <div class="text-size-small-2 _5"><span class="text-span-2">€</span></div>
                                  <div class="text-size-small-2"><span li-js-price="freeShipping - total.price" class="text-span-2" x-text="LiquifyHelper.moneyFormat(freeShipping - total.price, true, '{{ shop.money_with_currency_format }}')">$52.75</span></div>
                                  <div class="text-size-small-2">
{{ section.settings.text_tot_gratis_verzending }}
</div>
                                </div>
                              </div>
                            </div>
                            <div x-bind:style="'display: ' + (((freeShipping - total.price) / 100) < 0 ? 'block' : 'none')" class="mini-cart_footer_progress-component small">
                              <div class="verzending-icons">
                                <div class="send-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewbox="0 0 27 18">
                                    <rect id="Rectangle_22" data-name="Rectangle 22" width="27" height="18" rx="2" fill="#6ab37a"></rect>
                                    <g id="delivery-truck-truck-svgrepo-com" transform="translate(4.111 -128.31)">
                                      <g id="Group_6" data-name="Group 6" transform="translate(1.81 133)">
                                        <g id="Group_5" data-name="Group 5">
                                          <path id="Path_3" data-name="Path 3" d="M69,137.168l-2.006-2.29a.343.343,0,0,0-.26-.118H65.064v-1.415a.346.346,0,0,0-.345-.345H57.6a.346.346,0,0,0-.345.345v.466H53.945a.345.345,0,0,0,0,.689h3.314v4.465H55.265a.345.345,0,0,0,0,.689h1.993v.351a.346.346,0,0,0,.345.345h.719a1.3,1.3,0,0,0,2.513,0h4.6a1.3,1.3,0,0,0,2.513,0h.794a.346.346,0,0,0,.345-.345v-2.611A.348.348,0,0,0,69,137.168Zm-9.42,3.452a.615.615,0,1,1,.615-.615A.617.617,0,0,1,59.579,140.62Zm1.257-.959a1.3,1.3,0,0,0-2.513,0h-.375v-5.972h6.424v5.968H60.835Zm5.854.959a.615.615,0,1,1,.615-.615A.617.617,0,0,1,66.689,140.62Zm1.706-.959h-.449a1.3,1.3,0,0,0-2.513,0h-.368v-4.212h1.513l1.817,2.074v2.138Z" transform="translate(-53.6 -133)" fill="#fff"></path>
                                        </g>
                                      </g>
                                      <g id="Group_8" data-name="Group 8" transform="translate(1.814 138.965)">
                                        <g id="Group_7" data-name="Group 7" transform="translate(0 0)">
                                          <path id="Path_4" data-name="Path 4" d="M54.227,309.6h-.182a.345.345,0,0,0,0,.689h.182a.345.345,0,0,0,0-.689Z" transform="translate(-53.7 -309.6)" fill="#fff"></path>
                                        </g>
                                      </g>
                                      <g id="Group_10" data-name="Group 10" transform="translate(0 136.354)">
                                        <g id="Group_9" data-name="Group 9">
                                          <path id="Path_5" data-name="Path 5" d="M4.036,232.3H.345a.345.345,0,1,0,0,.689H4.036a.345.345,0,1,0,0-.689Z" transform="translate(0 -232.3)" fill="#fff"></path>
                                        </g>
                                      </g>
                                    </g>
                                  </svg></div>
                                <div class="text-size-small-2">
{{ section.settings.text_success_text }}
</div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="mini-cart_line-item no-scrollbar">
                          <ul role="list" class="mini-cart_line-item_list w-list-unstyled">
                            <template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item">
                              <div class="div-img-cart"><img src="../images/product-apparel-2.svg" loading="lazy" alt="" class="mini-cart_line-item_img" x-bind:src="product.image"></div>
                              <div class="mini-cart_line-item_product-info">
                                <div class="cart-title">
                                  <div li-js-object="product.title" class="heading-style-h4 text-weight-normal dark" x-text="product.title">Product Title</div>
                                  <div class="small-promise">
{{ section.settings.text_6_stuks }}
</div>
                                </div>
                                <div class="mini-cart_line-item_price">
                                  <div class="flex-left-small">
                                    <div class="text-size-small">€</div>
                                    <div li-js-price="product.price" class="text-size-small" x-text="LiquifyHelper.moneyFormat(product.price, true, '{{ shop.money_with_currency_format }}')">11.34</div>
                                  </div>
                                  <template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price" class="flex-left-small">
        
                                    <div class="text-size-small text-style-strikethrough text-style-muted">€</div>
                                    <div li-js-price="product.original_price" class="text-size-small text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(product.original_price, true, '{{ shop.money_with_currency_format }}')">14,99 $</div>
                                          </div>
    </template>
                                </div>
                                <div class="cart-flex">
                                  <div class="mini-cart_line-item_quantity">
                                    <a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.key, quantity: product.quantity, action: 'decrease' })">-</a><input li-element="mini-cart-item-quantity" class="mini-cart_line-item_quantity-adjust" value="1" :productprop="product" @input="$dispatch('setcartitem', { product: product.key, quantity: product.quantity })" x-model="product.quantity">
                                    <a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.key, quantity: product.quantity, action: 'increase' })">+</a>
                                  </div>
                                  <div li-element="mini-cart-item-remove" class="bin w-embed" :productprop="product" @click="$dispatch('setcartitem', { product: product.key, quantity: 0 })"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 22.152 22.527">
                                      <g id="trash" transform="translate(-4.936 -4.594)">
                                        <path id="Path_93" data-name="Path 93" d="M11.847,23.366a.693.693,0,0,0,.7-.689V12.317a.7.7,0,0,0-1.392,0v10.36A.693.693,0,0,0,11.847,23.366Z" fill="CurrentColor"></path>
                                        <path id="Path_94" data-name="Path 94" d="M16,23.366a.693.693,0,0,0,.7-.689V12.317a.7.7,0,0,0-1.392,0v10.36A.693.693,0,0,0,16,23.366Z" fill="CurrentColor"></path>
                                        <path id="Path_95" data-name="Path 95" d="M20.151,23.366a.693.693,0,0,0,.7-.689V12.317a.7.7,0,0,0-1.392,0v10.36A.664.664,0,0,0,20.151,23.366Z" fill="CurrentColor"></path>
                                        <path id="Path_96" data-name="Path 96" d="M26.392,7.659h-5.28L19.7,5.426a1.775,1.775,0,0,0-1.512-.832H13.816a1.775,1.775,0,0,0-1.512.832L10.911,7.659H5.632a.689.689,0,1,0,0,1.378h1.2v15.9A2.191,2.191,0,0,0,9.04,27.121H23.007a2.191,2.191,0,0,0,2.208-2.186V9.061h1.176a.693.693,0,0,0,.7-.689A.714.714,0,0,0,26.392,7.659ZM13.5,6.162A.375.375,0,0,1,13.816,6h4.392a.411.411,0,0,1,.312.166l.936,1.5H12.568Zm10.272,18.82a.8.8,0,0,1-.792.784H9.016a.8.8,0,0,1-.792-.784V9.061H23.8V24.982Z" fill="CurrentColor"></path>
                                      </g>
                                    </svg></div>
                                </div>
                              </div>
                            </li></template>
                          </ul>
                        </div>
                        <div class="mini-cart_footer">
                          <div class="mini-cart_footer-total">
                            <div class="text-size-regular text-weight-bold">
{{ section.settings.text_in_totaal }}
</div>
                            <div class="mini-cart_footer-price">
                              <div class="flex-left-small">
                                <div class="text-size-regular text-weight-bold totaal">€</div>
                                <div li-js-price="total.price" class="text-size-regular text-weight-bold totaal" x-text="LiquifyHelper.moneyFormat(total.price, true, '{{ shop.money_with_currency_format }}')">23,55</div>
                              </div>
                              <template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price" class="mini-cart_conditional">
        
                                <div li-js-price="original_total_price" class="text-size-regular text-weight-bold text-style-strikethrough text-style-muted" x-text="LiquifyHelper.moneyFormat(original_total_price, true, '{{ shop.money_with_currency_format }}')">23,55</div>
                                      </div>
    </template>
                            </div>
                          </div>
                          <div li-element="mini-cart-api-response" class="mini-cart_footer-message hide">
                            <div class="mini-cart_footer-message-item">
                              <div class="text-size-regular text-weight-bold">Message</div>
                              <div li-js-object="cartApiResponse?.result?.message" class="text-size-regular text-weight-bold" x-text="cartApiResponse?.result?.message">14,99 $</div>
                            </div>
                          </div>
                          <a x-bind:href="'/checkout'" href="#" class="icon-button checkout w-inline-block">
                            <div class="button-background checkout w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 160.917 54.977" width="100%" height="100%" preserveaspectratio="none">
                                <path d="M.176,10.8,6.938,47.713s64.278,3.9,89.154,0S148.044,43.3,148.044,43.3,163.629,9.658,158.1,2.609,68.452,4.885,61.637,6.158.57,4.779.176,7.234A7.969,7.969,0,0,0,.176,10.8Z" transform="translate(1.726) rotate(2)" fill="currentColor"></path>
                              </svg></div>
                            <div class="cart-icon-button checkout w-embed"><svg id="cart" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 19.467 16.872">
                                <path id="Path_6" data-name="Path 6" d="M2855.233,338.218h-4.584a.648.648,0,0,0-.649.649v2.6a.648.648,0,0,0,.649.649h.068l.908,8.183a.648.648,0,0,0,.646.577H2867.2a.648.648,0,0,0,.646-.577l.908-8.183h.069a.647.647,0,0,0,.648-.649v-2.6a.647.647,0,0,0-.648-.649h-4.584l-1.46-3.8a.65.65,0,0,0-1.213.466l1.285,3.336h-6.223l1.285-3.336a.65.65,0,0,0-1.213-.466Zm-3.208,3.893h15.418l-.828,7.462h-13.763Zm5.762,1.947v3.569a.649.649,0,0,0,1.3,0v-3.569a.649.649,0,0,0-1.3,0Zm2.6,0v3.569a.649.649,0,0,0,1.3,0v-3.569a.649.649,0,0,0-1.3,0Zm-5.191,0v3.569a.649.649,0,0,0,1.3,0v-3.569a.649.649,0,0,0-1.3,0Zm7.787,0v3.569a.649.649,0,1,0,1.3,0v-3.569a.649.649,0,1,0-1.3,0Zm5.191-4.542H2851.3v1.3h16.872Z" transform="translate(-2850 -334)" fill="white" fill-rule="evenodd"></path>
                              </svg></div>
                            <div class="button-text checkout">
{{ section.settings.text_checkout_tekst }}
</div>
                          </a>
                          <div class="flex-mid-small">
                            <div class="small-promise">
{{ section.settings.text_belofte_1 }}
</div>
                            <div class="small-promise">-</div>
                            <div class="small-promise">
{{ section.settings.text_belofte_2 }}
</div>
                          </div>
                        </div>
                      </div>
                      <div li-cloak="hide" li-element="mini-cart-empty" class="mini-cart_empty" :style="total.items && { display: 'none' }">
                        <div class="mini-cart_header">
                          <div class="heading-style-h3">
{{ section.settings.text_lege_winkelwagen }}
</div><button li-element="dropdown-toggle" aria-label="Close Cart" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))">
                            <div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path>
                              </svg></div>
                          </button>
                        </div>
                        <div class="mini-cart_empty-content">
                          <div li-setings:text="Geen producten" class="text-size-regular">Je hebt nog geen producten in je winkelwagen.</div>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Header",
    "class": "section_navbar",
    "settings": [
        {
            "id": "image_logo",
            "type": "image_picker",
            "label": "Logo"
        },
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "text_button_tekst",
            "type": "text",
            "label": "Button tekst",
            "default": "shop nu"
        },
        {
            "id": "text_cart",
            "type": "text",
            "label": "Cart",
            "default": "Winkelwagen"
        },
        {
            "id": "text_gratis_verzending_titel",
            "type": "text",
            "label": "Gratis verzending titel",
            "default": "Gratis verzending"
        },
        {
            "id": "text_nog",
            "type": "text",
            "label": "nog",
            "default": "Nog"
        },
        {
            "id": "text_tot_gratis_verzending",
            "type": "text",
            "label": "Tot gratis verzending",
            "default": "tot gratis verzending!"
        },
        {
            "id": "text_success_text",
            "type": "text",
            "label": "Success - Text",
            "default": "Yes!\u00a0Je krijgt nu <span class=\"text-span-3\">GRATIS\u00a0verzending<\/span>."
        },
        {
            "type": "header",
            "content": "free_shipping"
        },
        {
            "type": "text",
            "id": "free_shipping",
            "label": "Free Shipping",
            "default": "100"
        },
        {
            "id": "text_6_stuks",
            "type": "text",
            "label": "6 stuks",
            "default": "6 stuks"
        },
        {
            "id": "text_in_totaal",
            "type": "text",
            "label": "In totaal",
            "default": "In totaal"
        },
        {
            "id": "text_checkout_tekst",
            "type": "text",
            "label": "Checkout tekst",
            "default": "ik ga bestellen"
        },
        {
            "id": "text_belofte_1",
            "type": "text",
            "label": "Belofte 1",
            "default": "30 dagen retourbeleid"
        },
        {
            "id": "text_belofte_2",
            "type": "text",
            "label": "Belofte 2",
            "default": "Gratis retourzending"
        },
        {
            "id": "text_lege_winkelwagen",
            "type": "text",
            "label": "Lege winkelwagen",
            "default": "Winkelwagen"
        },
        {
            "type": "header",
            "content": "Navigation"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        }
    ],
    "presets": [
        {
            "name": "Header",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "groups": [
            "*"
        ]
    }
} {% endschema %}