<div class="lint-track">
          <div class="lint-container">
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
            <div class="element">
              <div class="element">
                <h4>
{{ section.settings.text_halal }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_biologisch }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
              <div class="element">
                <h4>
{{ section.settings.text_verantwoord }}
</h4><img src="{{ 'hartje_klein.png' | asset_url }}" loading="lazy" alt="" class="hartje-kleiner">
              </div>
            </div>
          </div>
          <div class="w-embed">
            <style>
.lint-container {
  will-change: transform;
  transform: translateX(0);
  animation: sliderTrackMove 200s linear infinite;
}
@keyframes sliderTrackMove {
  0% {
    transform: translateX(0px);
  }
  99.999% {
    transform: translateX(-6500px);
  }
  100% {
    transform: translateX(0px);
  }
}
</style>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Lint",
    "class": "section_lint",
    "settings": [
        {
            "id": "text_halal",
            "type": "text",
            "label": "Halal",
            "default": "halal"
        },
        {
            "id": "text_biologisch",
            "type": "text",
            "label": "Biologisch",
            "default": "biologisch"
        },
        {
            "id": "text_verantwoord",
            "type": "text",
            "label": "Verantwoord",
            "default": "verantwoord"
        }
    ],
    "presets": [
        {
            "name": "Lint",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}